<% include ./partials/account_header %>
		<div class='container-fluid'>
			<div class='account-settings'>
				<div class='acct-settings-col acct-nav'>
					<div class='acct-nav-header'>
						<h3>My Account</h3>
					</div>
					<div id='acct-nav-links'>
						<a class='acct-nav-item' href='/account/meta-settings'>META Settings</a>
						<a class='acct-nav-item' href='/account/info'>My Info</a>
						<a class='acct-nav-item' href='/account/security'>Security & Other</a>
						<a class='acct-nav-item' href='/logout'>Log Out</a>
					</div>
				</div>
				<div class='acct-settings-col'>
					<div class='acct-settings-header'>
						<h1>My Info</h1>
						<p>It's all about you right now.</p>
					</div>
					<form class='acct-update-form' action='/account/info?_method=PUT' method='POST'>
						<label for='username'>Username:</label>
						<input class='form-control' type='text' name='user[username]' id='username' value='<%= currentUser.username %>' required />
						<label for='email'>Email:</label>
						<input class='form-control' type='email' name='user[email]' id='email' value='<%= currentUser.email %>' required />
						<label for='firstName'>First Name:</label>
						<input class='form-control' type='text' name='user[firstName]' id='firstName' value='<%= currentUser.firstName %>' required />
						<label for='lastName'>Last Name:</label>
						<input class='form-control' type='text' name='user[lastName]' id='lastName' value='<%= currentUser.lastName %>' required />
						<label for='country'>Country: </label>
						<select class='form-control custom-select' type='select' name='user[location][country]' id='country' required>
						<% countries.forEach(function(country) { %>
							<% if(currentUser.location.country == country) { %>
								<option value='<%= country %>' selected><%= country %></option>
							<% } else { %>
								<option value='<%= country %>'><%= country %></option>
							<% } %>
						<% }); %>
						</select>
						<div class='acct-settings-actions'>
							<button class='btn btn-secondary acct-btn' type='submit'>Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
<% include ./partials/footer %>