<% include ./partials/account_header %>
		<div class='container-fluid'>
			<div class='account-settings'>
				<div class='acct-settings-col acct-nav'>
					<div class='acct-nav-header'>
						<h3>My Account</h3>
					</div>
					<div id='acct-nav-links'>
						<a class='acct-nav-item' href='/account/meta-settings'>META Settings</a>
						<a class='acct-nav-item' href='/account/info'>My Info</a>
						<a class='acct-nav-item' href='/account/security'>Security & Other</a>
						<a class='acct-nav-item' href='/logout'>Log Out</a>
					</div>
				</div>
				<div class='acct-settings-col'>
					<div class='acct-settings-header'>
						<h1>META Settings</h1>
						<p>Pick your poison, change it up. Only pick the games you love.</p>
					</div>
					<% if(currentUser.active == true) { %>
						<form class='acct-update-form' id='acct-meta-settings-form' action='/account/meta-settings?_method=PUT' method='POST'>
							<% var userMeta = currentUser.meta %>
							<% games.forEach(function(game) { %>
								<div class='acct-meta-game'>
									<label><%= game.title %></label>
									<div class='acct-meta-game-option'>
										<label class="form-check-label">
											<% if(userMeta.find(meta => meta.news == true && meta.game == game.title)) { %>
												<input type="checkbox" name='news[]' value='<%= game.title %>' autocomplete="off" checked> News
										   <% } else { %>
											    <input type="checkbox" name='news[]' value='<%= game.title %>' autocomplete="off"> News
										   <% } %>
										</label>
										<label class="form-check-label">
											<% if(userMeta.find(meta => meta.events == true && meta.game == game.title)) { %>
												<input type="checkbox" name='events[]' value='<%= game.title %>' autocomplete="off" checked> Events
										   <% } else { %>
											   <input type="checkbox" name='events[]' value='<%= game.title %>' autocomplete="off"> Events
										   <% } %>
										</label>
									</div>
								</div>
						   <% }); %>
						   <div class='acct-settings-actions'>
							   <button class='btn btn-secondary acct-btn' type='submit'>Save Changes</button>
						   </div>
						</form>
					<% } else { %>
						<p class='text-danger'>In order to view this page &amp; change your META settings, you must activate your account by following the verification link in your email.</p>
						<a href='/resend-email-verification?uid=<%= currentUser._id %>'><p>Click to Resend Verification Email</p></a>
					<% } %>
				</div>
			</div>
		</div>
<% include ./partials/footer %>