<% include ./partials/admin_header %>
		<div class='container-fluid'>
			<div class='page-header'>
				<h2>Edit '<%= user.fullname %>'</h2>
				<a class='btn btn-primary btn-est' href='/admin/view-users' role='button'>Return to Users</a>
			</div>
			<hr>
			<div class='content-form'>
				<form class='account-form' action='/admin/edit-user/<%= user._id %>?_method=PUT' method='POST'>
					<div class='content-form-col'>
						<label for='first-name'>First Name:</label>
						<input class='form-control' type='text' name='user[firstName]' id='first-name' value='<%= user.firstName %>' required />
						<label for='last-name'>Last Name:</label>
						<input class='form-control' type='text' name='user[lastName]' id='last-name' value='<%= user.lastName %>' required />
						<label for='username'>Username:</label>
						<input class='form-control' type='text' name='user[username]' id='username' value='<%= user.username %>' required />
						<label for='email'>Email:</label>
						<input class='form-control' type='text' name='user[email]' id='email' value='<%= user.email %>' required />
						<label for='role'>Access Level:</label>
						<select class='form-control custom-select' type='select' name='user[role]' name='role' required>
							<option disabled>Select an Access Level</option>
							<% user.roles.forEach(function(role){ %>
								<% if(user.role == role) { %>
								<option value='<%= role %>' selected><%= role %></option>
								<% } else { %>
								<option value='<%= role %>'><%= role %></option>
								<% } %>
							<% }); %>
						</select>
					</div>
					<div class='content-form-col'>
						<label for="user-twitter">Twitter:</label>
						<input class="form-control" type="text" name="user[twitter]" id="user-twitter" value="<%= user.twitter %>" />
						<label for="user-facebook">Facebook:</label>
						<input class="form-control" type="text" name="user[facebook]" id="user-facebook" value="<%= user.facebook %>" />
						<label for="user-youtube">YouTube:</label>
						<input class="form-control" type="text" name="user[youtube]" id="user-youtube" value="<%= user.youtube %>" />
						<label for="user-website">Website:</label>
						<input class="form-control" type="text" name="user[website]" id="user-website" value="<%= user.website %>" />
						<label for="user-profile-banner">Profile Banner:</label>
						<input class="form-control" type="text" name="user[profileBanner]" id="user-profile-banner" value="<%= user.profileBanner %>" />
						<div class='content-form-actions'>
							<button class='btn btn-outline-primary' type='submit' value='Save Changes'>Save Changes</button>
							<button class='btn btn-outline-danger' onclick="location.href='/admin/view-users';" disabled>Cancel</button>
						</div>
					</div>
				</form>
			</div>
			<div class='delete-item-container'>
				<form class='delete-item' action='/admin/view-user/<%= user._id %>?_method=DELETE' method='POST'>
					<button class='btn btn-danger' type='submit'>Delete User</button>
				</form>
			</div>
			<hr>
		</div>
<% include ./partials/admin_footer %>