<% include ./partials/admin_header %>
<div class='container'>
	  <h2>Add a new event:</h2>
	  <form class='new-item-entry' id='new-event' action='/events' method='POST'>
	  	<fieldset id='meta'>
  		  <label>Event Title: </label>
  		  <input type='text' name='event[title]'>
  		  <br>
  		  <label>Date of Event: </label>
  		  <input type='date' name='event[date]'>
  		  <br>
  		  <label>Game(s) Involved: </label>
  		  <select type='select' name='event[games]'>
  		  	<option value='multiple'>Multiple Games</option>
	      <% games.forEach(function(game) { %>
	      	<option value='<%= game.title %>'><%= game.title %></option>
	      <% }); %>
	      </select>
	      <br>
	  	</fieldset>
	  	<label>Description: </label>
	  	<textarea name='event[description]'></textarea>
	 	<label>Event Image URL: </label>
	 	<input type='text' name='event[image]'>
	 	<br>
	 	<label>Venue: </label>
	 	<input type='text' name='event[venue]'>
	 	<br>
	 	<label>City: </label>
	 	<input type='text' name='event[city]'>
	 	<br>
	 	<label>State: </label>
	 	<select type='select' name='event[state]'>
	 		<option>Select a State</option>
	 		<% states.forEach(function(state){ %>
	 			<option value='<%= state %>'><%= state %></option>
	 		<% }); %>
	 	</select>
	 	<br>
	 	<label>Country: </label>
	 	<select type='select' name='event[country]'>
	 		<% countries.forEach(function(country){ %>
	 			<option value='<%= country %>'><%= country %></option>
	 		<% }); %>
	 	</select>
	 	<label>EST Stream: </label>
	 	<select type='select' name='event[stream]'>
	 		<option value='yes'>Yes</option>
	 		<option value='no'>No</option>
	 	</select>
	 	<br>
	 	<label>Source Link: </label>
	 	<input type='text' name='event[sourceLink]'>
	 	<button type='submit'>Add Event</button>
	</form>
	</div>
<% include ./partials/admin_footer %>