<% include ./partials/admin_header %>
<div class='container'>
	  <p><a href='/admin/view-articles'>Return to Articles</a></p>
	  <h2>Publish a new article:</h2>
	  <form class='new-item-entry' id='new-article' action='/news' method='POST'>
		<fieldset id='meta'>
		  <label>Author: </label>
		  <select type='select' name='article[author]'>
		  <% authors.forEach(function(author){ %>
		  	<option value='<%= author.fullname %>'><%= author.fullname %></option>
		  <% }); %>
		  </select>
		  <br>
		  <label>Date: </label>
		  <input type='date' name='article[published]' value='<%= today %>' required>
		  <br>
		  <label>Categories: </label>
		  <select type='select' name='article[categories]'>
	      <% games.forEach(function(game) { %>
	      	<option value='<%= game.title %>'><%= game.title %></option>
	      <% }); %>
	      </select>
	      <br>
	      <label>Article Type: </label>
	      <select type='select' name='article[contentType]'>
	      	<option value='' selected disabled>Select a Content Type</option>
	      	<% contentTypes.forEach(function(contentType){ %>
	      		<option value='<%= contentType %>'><%= contentType %></option>
	      	<% }); %>
	      </select>
	      <br>
		  <label>Title: </label>
		  <input type='text' name='article[title]'>
		  <br>
		</fieldset>
	  	<label>Main Content: </label>
	  	<textarea name='article[body]'></textarea>
	 	<label>Header Image (local) URL: </label>
	 	<input type='text' name='article[image]'>
	 	<br>
	 	<label>Image Caption: </label>
	 	<input type='text' name='article[imageCaption]'>
	 	<br>
	 	<label>Image Source: </label>
	 	<input type='text' name='article[imageSource]'>
	 	<br>
	 	<label>Source Link (if applicable): </label>
	 	<input type='text' name='article[sourceLink]'>
	 	<br>
	 	<button type='submit'>Post Article</button>
	  </form>
	  </div>
<% include ./partials/admin_footer %>