<% include ./partials/admin_header %>
<div class='container-fluid'>
				<div class='row' id='page-header'>
					<div class='col-xs-8 col-md-8'>
						<h2>Edit '<%= article.title %>'</h2>
					</div>
					<div class='col-xs-4 col-md-4'>
						<a class='btn btn-primary btn-est' href='/admin/view-articles' role='button'>Return to Articles</a>
					</div>
				</div>
				<hr>
				<div class='row'>
					<div class='col-xs-12 col-md-12'>
						<form class='new-item-entry' id='new-article' action='/news/<%= article._id %>?_method=PUT' method='POST'>
							<div class='form-group row'>
								<div class='col-xs-4 col-md-4'>
									<label for='author'>Author: </label>
									<select class='form-control custom-select' type='select' name='article[author]'>
									  	<option value='<%= article.author %>' selected><%= article.author %></option>
									  <% authors.forEach(function(author){ %>
									  <% 	if(author.fullname != article.author) { %>
									  	<option value='<%= author.fullname %>'><%= author.fullname %></option>
									  	<% } %>
									  <% }); %>
									 </select>
								</div>
								<div class='col-xs-8 col-md-8'>
									<label for='date'>Publishing Date: </label>
									<input class='form-control' type='text' id='date' name='article[published]' value='<%= article.published %>' required>
								</div>
		  				</div>
		  				<hr>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label>Categories: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<% if(article.categories.indexOf('general') > -1){ %>
		  							<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name='article[categories][]' value='general' checked> General
									  </label>
									</div>
									<% } else { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name='article[categories][]' value='general'> General
									  </label>
									</div>
									<% } %>
									<% if(article.categories.indexOf('Overwatch League') > -1) { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name='article[categories][]' value='Overwatch League' checked> Overwatch League
									  </label>
									</div>
									<% } else { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name='article[categories][]' value='Overwatch League' > Overwatch League
									  </label>
									</div>
									<% } %>
									<% games.forEach(function(game){ %>
									<% if(article.categories.indexOf(game.title) > -1) { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[categories][]' id="inlineCheckbox2" value='<%=game.title%>' checked><%= game.title %>
									  </label>
									</div>
									<% } else { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[categories][]' id="inlineCheckbox2" value='<%=game.title%>'><%= game.title %>
									  </label>
									</div>
										<% } %>
									<% }); %>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label>Teams (OWL Only): </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
									<% teams.forEach(function(team){ %>
									<% if(article.categories.indexOf(team.name) > -1) { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[categories][]' id="inlineCheckbox2" value='<%=team.name%>' checked><%= team.name %>
									  </label>
									</div>
									<% } else { %>
									<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[categories][]' id="inlineCheckbox2" value='<%=team.name%>'><%=team.name%>
									  </label>
									</div>
										<% } %>
									<% }); %>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label>Article Type: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<% contentTypes.forEach(function(contentType){ %>
		  						<% if(contentType == article.contentType) { %>
		  						<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[contentType]' value='<%= contentType %>' checked><%= contentType %>
									  </label>
									</div>
		  						<% } else { %>
		  						<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[contentType]' value='<%= contentType %>'><%= contentType %>
									  </label>
									</div>
		  						<% } %>
		  						
		  						<% }); %>
		  					</div>
		  				</div>
		  				<hr>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='title'>Title: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<input class='form-control' type='text' name='article[title]' id='title' value='<%= article.title %>' required>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-4 col-md-4'>
		  						<label for='subTitle'>Sub Title (a few words, used for social): </label>
		  					</div>
		  					<div class='col-xs-8 col-md-8'>
		  						<input class='form-control' type='text' name='article[subTitle]' id='subTitle' value='<%= article.subTitle %>' required>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='body'>Article Body: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<textarea class='form-control' type='text' name='article[body]' id='body' rows='20' value='<%= article.body %>' required><%= article.body %></textarea>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='sourceLink'>Source Link: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<input class='form-control' type='text' name='article[sourceLink]' id='sourceLink' value='<%= article.sourceLink %>'>
		  					</div>
		  				</div>
		  				<hr>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='image'>Image URL: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<input class='form-control' type='text' name='article[image]' id='image' value='<%= article.image %>' required>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-6 col-md-6'>
		  						<label for='imageCaption'>Image Caption: </label>
		  						<input class='form-control' type='text' name='article[imageCaption]' id='imageCaption' value='<%= article.imageCaption %>' required>
		  					</div>
		  					<div class='col-xs-6 col-md-6'>
		  						<label for='imageSource'>Image Source: </label>
		  						<input class='form-control' type='text' name='article[imageSource]' id='imageSource' value='<%= article.imageSource %>' required>
		  					</div>
		  				</div>
		  				<div class='clear-div'>
		  					<hr>
		  				</div>
		  				<button class='btn btn-primary btn-est'>Update Article</button>
						</form>
						<div class='clear-div'>
		  					<hr>
		  				</div>
			  			<form class='new-item-entry' id='delete-item' action='/news/<%= article._id %>?_method=DELETE' method='POST'>
							<button class='btn btn-danger' type='submit'>Delete Article</button>
		  				</form>
					</div>
				</div>
			</div>
<% include ./partials/admin_footer %>