<% include ./partials/admin_header %> 
<div class='container'>
	  <p><a href='/admin/view-events'>Return to Events</a></p>
	  <h2>Edit <%= event.title %>:</h2>
	  <form class='new-item-entry' id='new-event' action='/events/<%= event._id %>?_method=PUT' method='POST'>
		<fieldset id='meta'>
		  <label>Event Title: </label>
		  <input type='text' name='event[title]' value='<%= event.title %>'>
		  <br>
		  <label>Date of Event: </label>
		  <input type='date' name='event[date]' value='<%= event.date %>'>
		  <br>
		  <label>Games Involved: </label>
		  <select type='select' name='event[games]'>
	      <% games.forEach(function(game) { %>
	      <% 	if(event.games.indexOf(game.title) > -1) { %>
	      	<option value='<%= game.title %>' selected><%= game.title %></option>
	      	<% } else { %>
	      	<option value='<%= game.title %>'><%= game.title %></option>
	      	<% } %>
	      <% }); %>
	      </select>
	      <br>
		</fieldset>
		<label>Description: </label>
		<textarea name='event[description]'><%= event.description %></textarea>
		<label>Event Image URL: </label>
		<input type='text' name='event[image]' value='<%= event.image %>'>
		<br>
		<label>Venue: </label>
		<input type='text' name='event[venue]' value='<%= event.venue %>'>
		<br>
		<label>City: </label>
		<input type='text' name='event[city]' value='<%= event.city %>'>
		<br>
		<label>State: </label>
		<select type='select' name='event[state]'>
	 		<% states.forEach(function(state){ %>
	 		<% 	if(state == event.state) { %>
	 			<option value='<%= state %>' selected><%= state %></option>
	 			<% } else { %>
	 			<option value='<%= state %>'><%= state %></option>
	 			<% } %>
	 		<% }); %>
	 	</select>
	 	<br>
	 	<label>Country: </label>
	 	<select type='select' name='event[country]'>
	 		<% countries.forEach(function(country){ %>
	 		<% 	if(country == event.country) { %>
	 			<option value='<%= country %>' selected><%= country %></option>
	 			<% } else { %>
	 			<option value='<%= country %>'><%= country %></option>
	 			<% } %>
	 		<% }); %>
	 	</select>
	 	<br>
	 	<label>EST Stream: </label>
	 	<select type='select' name='event[stream]'>
	 		<% if(event.stream == true) { %>
	 		<option value='yes' selected>Yes</option>
	 		<option value='no'>No</option>
	 		<% } else { %>
	 		<option value='yes'>Yes</option>
	 		<option value='no' selected>No</option>
	 		<% } %>
	 	</select>
	 	<br>
		<label>Source Link (if applicable): </label>
		<input type='text' name='event[sourceLink]' value='<%= event.sourceLink %>'>
		<button type='submit'>Update Event</button>
	  </form>
	  <form class='new-item-entry' id='delete-item' action='/events/<%= event._id %>?_method=DELETE' method='POST'>
	    <button type='submit'>DELETE EVENT</button>
	  </form>
	  </div>
<% include ./partials/admin_footer %>