<% include ./partials/admin_header %>
		<div class='container-fluid'>
			<div class='page-header'>
				<h2>Add a New Event</h2>
				<a class='btn btn-primary btn-est' href='/admin/view-events' role='button'>Return to Events</a>
			</div>
			<hr>
			<div class='content-form'>
				<form class='article-form' method='POST'>
					<div class='content-form-col'>
						<label for='source'>Source Link:</label>
						<input class='form-control' type='text' name='event[sourceLink]' id='source' />
						<label for='title'>Title:</label>
						<input class='form-control' type='text' name='event[title]' id='event-title' required />
						<label for='date'>Date: </label>
						<input class='form-control' type='date' id='date' required />	
						<div class='form-group row' id='article-category-selection'>
							<div id='categories'>
								<label>Categories:</label>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" id="general" name='event[categories][]' value='general' checked />General
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" id="overwatch-league" name='event[categories][]' value='Overwatch League' /> Overwatch League
									</label>
								</div>
								<% games.forEach(function(game){ %>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" name='event[categories][]' value='<%=game.title%>' /><%= game.title %>
									</label>
								</div>
								<% }); %>
							</div>
							<div id='owl-teams'>
								<label>Teams (OWL Only): </label>
								<% teams.forEach(function(team){ %>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" name='event[categories][]' value='<%= team.name %>' /><%= team.name %>
									</label>
								</div>
								<% }); %>
							</div>
						</div>
					</div>
					<div class='content-form-col'>
						<label for='description'>Description: </label>
						<textarea class='form-control' type='text' name='event[description]' id='description' rows='10' required></textarea>
						<label for='image-link'>Image Link:</label>
						<input class='form-control' type='text' name='event[image]' id='image-link' required />
						<label for='venue'>Venue: </label>
						<input class='form-control' type='text' name='event[venue]' id='venue' required />
						<label for='city'>City: </label>
						<input class='form-control' type='text' name='event[city]' id='city' />
						<label for='state'>State: </label>
						<select class='form-control custom-select' type='select' name='event[state]' id='state'>
							<option selected disabled>Select a State</option>
							<% states.forEach(function(state){ %>
								<option value='<%= state %>'><%= state %></option>
							<% }); %>
						</select>
						<label for='country'>Country: </label>
						<select class='form-control custom-select' type='select' name='event[country]' id='country' required >
						<% countries.forEach(function(country){ %>
							<option value='<%= country %>'><%= country %></option>
						<% }); %>
						</select>
						<div class='content-form-actions'>
							<button class='btn btn-outline-primary' type='submit'>Add Event</button>
							<button class='btn btn-outline-info' type='button' disabled>Preview Article</button>
							<button class='btn btn-outline-danger' onclick="location.href='/admin/view-events';" disabled>Cancel</button>
						</div>
					</div>
				</form>
			</div>
			<hr>
		</div>
<% include ./partials/admin_footer %>