<% include ./partials/admin_header %>
<div class='container'>
	  <h2>Edit '<%= game.title %>'</h2>
	  <form class='new-item-entry' id='new-game' action='/admin/view-games/<%= game._id %>?_method=PUT' method='POST'>
		<fieldset id='meta'>
		  <label>Title: </label>
		  <input type='text' name='game[title]' value='<%= game.title %>'>
		  <br>
		  <label>Abbreviation: </label>
		  <input type='text' name='game[abbreviation]' value='<%= game.abbreviation %>'>
		  <label>Platform(s): </label>
		  <input type='text' name='game[platform]' value='<%= game.platform %>'>
		  <br>
		  <label>Genre(s): </label>
		  <input type='text' name='game[genre]' value='<%= game.genre %>'>
		  <label>Game Logo (JPG) URL: </label>
		  <input type='text' name='game[logojpg]' value='<%= game.logojpg %>'>
	      <label>Game Logo (PNG) URL: </label>
	      <input type='text' name='game[logopng]' value='<%= game.logopng %>'>
		</fieldset>
		<button type='submit'>Update Game</button>
	  </form>
	  <form class='new-item-entry' id='delete-item' action='/admin/view-games/<%= game._id %>?_method=DELETE' method='POST'>
		<button type='submit'>DELETE GAME</button>
	  </form>
	  </div>
<% include ./partials/admin_footer %>