<% include ./partials/admin_header %>
		<div class='container-fluid'>
			<div class='page-header'>
				<h2>Post a New Article</h2>
				<a class='btn btn-primary btn-est' href='/admin/view-articles'>Return to Articles</a>
			</div>
			<hr>
			<div class='content-form'>
				<form class='article-form' action='/news' method='POST'>
					<div class='content-form-col'>
						<div class='form-group row'>
							<div id='article-meta'>
								<label for='author'>Author: </label>
								<select class='form-control custom-select' type='select' name='article[author]' id='author' required>
									<option disabled selected>Select an Author</option>
									<% authors.forEach(function(author){ %>
										<option value='<%= author.fullname %>'><%= author.fullname %></option>
									<% }); %>
								</select>
								<label for='date'>Date: </label>
								<input class='form-control' type='date' id='date' value='<%= today %>' required />
								<label>Article Type: </label>
								<select class='form-control custom-select' type='select' name='article[contentType]' id='contentType' required>
									<option selected disabled>Choose a Content Type</option>
									<% contentTypes.forEach(function(contentType){ %>
										<option value='<%= contentType %>'><%= contentType %></option>
									<% }); %>
								</select>
								<label for='title'>Title: </label>
								<input class='form-control' type='text' name='article[title]' id='title' required />
								<label for='subTitle'>Sub Title: </label>
								<input class='form-control' type='text' name='article[subTitle]' id='subTitle' required />
							</div>
						</div>
						<div class='form-group row' id='article-category-selection'>
							<div id='categories'>
								<label>Categories:</label>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" id="general" name='article[categories][]' value='general' checked />General
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" id="overwatch-league" name='article[categories][]' value='Overwatch League' /> Overwatch League
									</label>
								</div>
								<% games.forEach(function(game){ %>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" name='article[categories][]' value='<%=game.title%>' /><%= game.title %>
									</label>
								</div>
								<% }); %>
							</div>
							<div id='owl-teams'>
								<label>Teams (OWL Only): </label>
								<% teams.forEach(function(team){ %>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" name='article[categories][]' value='<%=team.name%>' /><%= team.name %>
									</label>
								</div>
								<% }); %>
							</div>
						</div>
					</div>
					<div class='content-form-col'>
						<label for='body'>Body: </label>
						<textarea class='form-control' type='text' name='article[body]' id='body' rows='10' required></textarea>
						<label for='source-link'>Source Link:</label>
						<input class='form-control' type='text' name='article[sourceLink]' id='source-link' />
						<label for='image-link'>Image Link:</label>
						<input class='form-control' type='text' name='article[image]' id='image-link' required />
						<label for='image-caption'>Image Caption:</label>
						<input class='form-control' type='text' name='article[imageCaption]' id='image-caption' required />
						<label for='image-source'>Image Source: </label>
						<input class='form-control' type='text' name='article[imageSource]' id='image-source' required />
						<div class='content-form-actions'>
							<button class='btn btn-outline-primary' type='submit'>Post Article</button>
							<button class='btn btn-outline-info' type='button' disabled>Preview Article</button>
							<button class='btn btn-outline-danger' onclick="location.href='/admin/view-articles';">Cancel</button>
						</div>
					</div>
				</form>
			</div>
			<hr>
		</div>
<% include ./partials/admin_footer %>