<% include ./partials/admin_header %>
	  <div class='container-fluid'>
		<div class='row view-header'>
			<div class='col-xs-12 col-md-12'>
				<h1>Teams</h1>
				<div class='clear-div'>
					<hr>
				</div>
				<div class='form-group row'>
			    	<div class='col-xs-4 col-md-4'>
			    		<a class="btn btn-primary btn-est" href="/admin/new-team" role="button">Add a New Team</a>
			    	</div>
				  	<div class='col-xs-2 col-md-2 search-label'>
				  		<label for='content-search'>Search: </label>
				  	</div>
				  	<div class='col-xs-6 col-md-6 search-field'>
				  		<input class='form-control' type='search' placeholder='search teams' id='content-search'>
				  	</div>
			    </div>
			</div>
		</div>
		<div class='row view-list'>
			<div class='col-xs-12 col-md-12'>
				<div class='table-responsive'>
					<table class='table'>
					  <thead>
					    <tr>
					      <th>Logo</th>
						  <th>Name</th>
						  <th>Game</th>
						  <th>Number of Members</th>
						  <th>Country</th>
						  <th>Edit</th>
					    </tr>
					  </thead>
					  <tbody>
					  <% teams.forEach(function(team){  %>
					    <tr>
					      <td><img src='<%= team.logo %>'></td>
					      <td><%= team.name %></td>
					      <td><%= team.game %></td>
					      <td><%= team.members.length %></td>
					      <td><%= team.country %></td>
					      <td>
					    	<a href='/admin/edit-team/<%= team._id %>'>Edit</a>
					      </td>
					    </tr>
					  <% }); %>
					  </tbody>
				    </table>
				  </div>
				</div>
			</div>
	  </div>
<% include ./partials/admin_footer %>