<% include ./partials/admin_header %>
			<div class='container-fluid'>
				<div class='page-header'>
					<h2>Add a New Team</h2>
					<a class='btn btn-primary btn-est' href='/admin/view-teams' role='button'>Return to Teams</a>
				</div>
				<div class='content-form'>
					<form class='article-form' id='team-entry' action='/admin/new-team' method='POST'>
						<div class='content-form-col'>
							<label for='name'>Name:</label>
							<input class='form-control' type='text' name='team[name]' id='name' required />
							<label for='logo'>Logo URL: </label>
							<input class='form-control' type='text' name='team[logo]' id='logo' value='https://i.imgur.com/amUEiX5.png' required />
							<label for='video'>Video:</label>
							<input class='form-control' type='text' name='team[video]' id='video' />
							<label for='game'>Game: </label>
							<select class='form-control custom-select' type='select' name='team[game]' id='game' required>
							    <option selected disabled>Select a Game</option>
							    <% games.forEach(function(game){ %>
							        <option value='<%= game.title %>'><%= game.title %></option>
							    <% }); %>
							</select>
							<label for='country'>Country:</label>
							<select class='form-control custom-select' type='select' name='team[country]' id='country' required>
							    <option disabled selected>Select a Country</option>
							    <% countries.forEach(function(country){ %>
							       <option value='<%= country %>'><%= country %></option> 
							    <% }); %>
							</select>
						</div>
						<div class='content-form-col'>
							<label for='founded'>Date Founded:</label>
							<input class='form-control' type='text' name='team[founded]' id='founded' />
							<label for='website'>Website:</label>
							<input class='form-control' type='text' name='team[website]' id='website' />
							<label for='coach'>Head Coach:</label>
							<input class='form-control' type='text' name='team[coach]' id='coach' required />
							<label for='division'>Division:</label>
							<input class='form-control' type='text' name='team[division]' id='division' />
							<label for='numOfMembers'>Number of Members:</label>
							<% var numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
							<select class='form-control custom-select' type='select' id='numOfMembers'>
								<option selected disabled>Choose a Number</option>
								<% numbers.forEach(function(number){ %>
									<option value='<%= number %>'><%= number %></option>
								<% }); %>
							</select>
							<div id='memberInputs'>
							
							</div>
							<div class='content-form-actions' id='team-form-actions'>
								<button class='btn btn-outline-primary' type='submit'>Add Team</button>
								<button class='btn btn-outline-danger' onclick="location.href='/admin/view-articles';">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
<% include ./partials/admin_footer %>