<% include ./partials/admin_header %>
		<div class='container-fluid'>
			<div class='page-header'>
				<h2>Edit '<%= event.title %>'</h2>
				<a class='btn btn-primary btn-est' href='/admin/view-events' role='button'>Return to Events</a>
			</div>
			<hr>
			<div class='content-form'>
				<form class='article-form' method='POST'>
					<div class='content-form-col'>
						<label for='source'>Source Link:</label>
						<input class='form-control' type='text' name='event[sourceLink]' id='source' value='<%= event.sourceLink %>' />
						<label for='title'>Title:</label>
						<input class='form-control' type='text' name='event[title]' id='event-title' value='<%= event.title %>' required />
						<label for='date'>Date: </label>
						<input class='form-control' type='date' id='date' value='<%= event.date %>' required />	
						<div class='form-group row' id='article-category-selection'>
							<div id='categories'>
								<label>Categories:</label>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<input class="form-check-input" type="checkbox" id="general" name='event[categories][]' value='general' checked />General
									</label>
								</div>
								<% games.forEach(function(game){ %>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<% if(event.games.indexOf(game.title) > -1) { %>
										<input class="form-check-input" type="checkbox" name='event[categories][]' value='<%= game.title %>' checked /><%= game.title %>
										<% } else { %>
										<input class="form-check-input" type="checkbox" name='event[categories][]' value='<%= game.title %>' /><%= game.title %>
										<% } %>
									</label>
								</div>
								<% }); %>
							</div>
							<div id='owl-teams'>
								<label>Teams (OWL Only): </label>
								<% teams.forEach(function(team){ %>
								<div class="form-check form-check-inline">
									<label class="form-check-label">
										<% if(event.teams.indexOf(team.name) > -1) { %>
										<input class="form-check-input" type="checkbox" name='event[categories][]' value='<%=team.name%>' checked ><%= team.name %>
										<% } else { %>
										<input class="form-check-input" type="checkbox" name='event[categories][]' value='<%=team.name%>' ><%= team.name %>
										<% } %>
									</label>
								</div>
								<% }); %>
							</div>
						</div>
					</div>
					<div class='content-form-col'>
						<label for='description'>Description: </label>
						<textarea class='form-control' type='text' name='event[description]' id='description' rows='10' required><%= event.description %></textarea>
						<label for='image-link'>Image Link:</label>
						<input class='form-control' type='text' name='event[image]' id='image-link' value='<%= event.image %>' required />
						<label for='venue'>Venue: </label>
						<input class='form-control' type='text' name='event[venue]' id='venue' value='<%= event.venue %>' required />
						<label for='city'>City: </label>
						<input class='form-control' type='text' name='event[city]' id='city' value='<%= event.city %>' />
						<label for='state'>State: </label>
						<select class='form-control custom-select' type='select' name='event[state]' id='state' >
							<option selected disabled>Select a State</option>
							<% states.forEach(function(state){ %>
								<% if(event.state == state) { %>
								<option value='<%= state %>' selected><%= state %></option>
								<% } else { %>
								<option value='<%= state %>'><%= state %></option>
								<% } %>
							<% }); %>
						</select>
						<label for='country'>Country: </label>
						<select class='form-control custom-select' type='select' name='event[country]' id='country' required>
						<% countries.forEach(function(country){ %>
							<% if(event.country == country) { %>
							<option value='<%= country %>' selected><%= country %></option>
							<% } else { %>
							<option value='<%= country %>'><%= country %></option>
							<% } %>
						<% }); %>
						</select>
						<div class='content-form-actions'>
							<button class='btn btn-outline-primary' type='submit'>Add Event</button>
							<button class='btn btn-outline-info' type='button' disabled>Preview Event</button>
							<button class='btn btn-outline-danger' onclick="location.href='/admin/view-events';" disabled>Cancel</button>
						</div>
					</div>
				</form>
				<div class='delete-item-container'>
					<form class='delete-item' action='/events/<%= event._id %>?_method=DELETE' method='POST'>
						<button class='btn btn-danger' type='submit'>Delete Event</button>
					</form>
				</div>
			</div>
			<hr>
		</div>
<% include ./partials/admin_footer %>