<% include ./partials/admin_header %>
    <div class='container'>
	  <form class='user-account-edit' id='new-user' action='/admin/edit-user/<%= currentUser._id %>?_method=PUT' method='POST'>
	  	
	  	<label>Password: [<a href='/reset-password'>Change Password</a>]</label>
		<label>First Name: 
			<input type='text' name='user[firstName]' value='<%= currentUser.firstName %>'>
		</label>
		<label>Last Name: 
			<input type='text' name='user[lastName]' value='<%= currentUser.lastName %>'>
		</label>
		<label>E-Mail: 
			<input type='email' name='user[email]' value='<%= currentUser.email %>'>
		</label>
		<label>Phone: 
			<input type='phone' name='user[phone]' value='<%= currentUser.phone %>'>
		</label>
		<label>Username: 
			<input type='text' name='user[username]' value='<%= currentUser.username %>'>
		</label>
		<label>Gender: 
			<select name='user[gender]' value='<% currentUser.gender %>'>
			<% if(currentUser.gender === 'male') {          %>
			  <option value='male' selected='selected'>Male</option>
			  <option value='female'>Female</option>
			  <option value='unspecified'>Prefer Not to Say</option>
			<% } else if(currentUser.gender === 'female') { %>
			  <option value='male'>Male</option>
			  <option value='female' selected='selected'>Female</option>
			  <option value='unspecified'>Prefer Not to Say</option>
			<% } else {                              %>
			  <option value='male'>Male</option>
			  <option value='female'>Female</option>
			  <option value='unspecified' selected='selected'>Prefer Not to Say</option>
			<% };                                    %>
			</select>
		</label>
		<label>ADDRESS</label>
		<label>Street:
			<input type='text' name='user[location][street]' value='<%= currentUser.location.street %>'>
		</label>
		<label>City: 
			<input type='text' name='user[location][city]' value='<%= currentUser.location.city %>'>
		</label>
		<label>State: 
			<select name='user[location][state]' value='<%= currentUser.location.state %>'>
			<% states.forEach(function(state) {            %>
			  <option value='<%= state %>' 
			<%     if(state === currentUser.location.state) {     %> 
				selected='selected'><%= state %></option>
			<%     } else {                                %>
				><%= state %></option>
			<% 	   };                                      %>
			<% });                                         %>
			</select>
		</label>
		<label>Zip Code: 
			<input type='text' name='user[location][zip]' value='<%= currentUser.location.zip %>'>
		</label>
		<label>Country: 
			<select name='user[location][country]'>
			  <% countries.forEach(function(country) { %>
			  <% 	if(currentUser.location.country == country) { %>
			  	<option value='<%= country %>' selected><%= country %></option>
			  	<% } else { %>
			  	<option value='<%= country %>'><%= country %></option>
			  	<% } %>
			  <% }); %>
			</select>
		</label>
		<br>
		<br>
		<label>ACCESS LEVEL - DON'T FUCK UP</label>
		<label>Role: 
			<select name='user[role]' value='<%= currentUser.role %>'>
				<% if(currentUser.role == 'admin') { %>
				<option value='admin' selected>Admin</option>
				<option value='editor'>Editor (not in use right now)</option>
				<option value='user'>Standard User (no admin access)</option>
				<% } else if(currentUser.role == 'editor') { %>
				<option value='admin'>Admin</option>
				<option value='editor' selected>Editor (not in use right now)</option>
				<option value='user'>Standard User (no admin access)</option>
				<% } else { %>
				<option value='admin'>Admin</option>
				<option value='editor'>Editor (not in use right now)</option>
				<option value='user' selected>Standard User (no admin access)</option>
			<% }; %>
			</select>
		</label>
		<br>
		<button type='submit' value='Save Changes'>Save Changes</button>
	  </form>
    </div>

<% include ./partials/admin_footer %>