<% include ./partials/admin_header %>
			<div class='container-fluid'>
				<div class='row' id='page-header'>
					<div class='col-xs-8 col-md-8'>
						<h2>Post a New Article</h2>
					</div>
					<div class='col-xs-4 col-md-4'>
						<a class='btn btn-primary btn-est' href='/admin/view-articles' role='button'>Return to Articles</a>
					</div>
				</div>
				<div class='clear-div'>
					<hr>
				</div>
				
				<div class='row'>
					<div class='col-xs-12 col-md-12'>
						<form class='new-item-entry' action='/news' method='POST'>
							<div class='form-group row'>
								<div class='col-xs-4 col-md-4'>
									<label for='author'>Author: </label>
									<select class='form-control custom-select' name='article[author]' id='author' required>
		  						<% authors.forEach(function(author){ %>
		  							<option value='<%= author.fullname %>'><%= author.fullname %></option>
		  						<% }); %>
		  						</select>
								</div>
								<div class='col-xs-8 col-md-8'>
									<label for='date'>Publishing Date: </label>
									<input class='form-control' type='date' id='date' value='<%= today %>' required>
								</div>
		  				</div>
		  				<hr>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label>Categories: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name='article[categories][]' value='general' checked> General
									  </label>
									</div>
									<% games.forEach(function(game){ %>
										<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[categories][]' id="inlineCheckbox2" value='<%=game.title%>'><%= game.title %>
									  </label>
									</div>
									<% }); %>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label>Article Type: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<% contentTypes.forEach(function(contentType){ %>
		  						<div class="form-check form-check-inline">
									  <label class="form-check-label">
									    <input class="form-check-input" type="checkbox" name='article[contentType]' value='<%= contentType %>'><%= contentType %>
									  </label>
									</div>
		  						<% }); %>
		  					</div>
		  				</div>
		  				<hr>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='title'>Title: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<input class='form-control' type='text' name='article[title]' id='title' required>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='body'>Article Body: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<textarea class='form-control' type='text' name='article[body]' id='body' rows='5' required></textarea>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='sourceLink'>Source Link: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<input class='form-control' type='text' name='article[sourceLink]' id='sourceLink'>
		  					</div>
		  				</div>
		  				<hr>
		  				<div class='form-group row'>
		  					<div class='col-xs-2 col-md-2'>
		  						<label for='image'>Image URL: </label>
		  					</div>
		  					<div class='col-xs-10 col-md-10'>
		  						<input class='form-control' type='text' name='article[image]' id='image' required>
		  					</div>
		  				</div>
		  				<div class='form-group row'>
		  					<div class='col-xs-6 col-md-6'>
		  						<label for='imageCaption'>Image Caption: </label>
		  						<input class='form-control' type='text' name='article[imageCaption]' id='imageCaption' required>
		  					</div>
		  					<div class='col-xs-6 col-md-6'>
		  						<label for='imageSource'>Image Source: </label>
		  						<input class='form-control' type='text' name='article[imageSource]' id='imageSource' required>
		  					</div>
		  				</div>
		  				<div class='clear-div'>
		  					<hr>
		  				</div>
		  				<button class='btn btn-primary btn-est'>Post Article</button>
						</form>
						<div class='clear-div'>
		  					<hr>
		  			</div>
					</div>
				</div>
			</div>
<% include ./partials/admin_footer %>