<% include ./partials/admin_header %>
	  <div class='container-fluid'>
	  			<div class='page-header'>
					<h2>Users</h2>
					<a class="btn btn-primary btn-est" href="/admin/new-user" role="button">Add a New User</a>
				</div>
				<hr>
		<div class='row view-list'>
			<div class='col-xs-12 col-md-12'>
				<div class='table-responsive'>
					<table class='table'>
					  <thead>
					    <tr>
						  <th>Name</th>
						  <th>Username</th>
						  <th>E-Mail Address</th>
						  <th>Phone Number</th>
						  <th>Role</th>
						  <th>Edit</th>
					    </tr>
					  </thead>
					  <tbody>
					  <% users.forEach(function(user){  %>
					    <tr>
					      <td><%= user.fullname %></td>
					      <td><%= user.username %></td>
					      <td><%= user.email %></td>
					      <td><%= user.phone %></td>
					      <td><%= user.role %></td>
					      <td>
					    	<a href='/admin/edit-user/<%= user._id %>'>Edit</a>
					      </td>
					    </tr>
					  <% }); %>
					  </tbody>
				    </table>
				  </div>
				</div>
			</div>
	  </div>
<% include ./partials/admin_footer %>