<% include ./partials/admin_header %>
	<div class='container-fluid'>
		<div class='row view-header'>
			<div class='col-xs-12 col-md-12'>
				<h1>Articles</h1>
				<div class='clear-div'>
					<hr>
				</div>
				<div class='form-group row'>
			    	<div class='col-xs-4 col-md-4'>
			    		<a class="btn btn-primary btn-est" href="/admin/new-article" role="button">Add a New Article</a>
			    	</div>
				  	<div class='col-xs-2 col-md-2 search-label'>
				  		<label for='content-search'>Search: </label>
				  	</div>
				  	<div class='col-xs-6 col-md-6 search-field'>
				  		<input class='form-control' type='search' placeholder='search articles' id='content-search'>
				  	</div>
			    </div>
			</div>
		</div>
		<div class='row view-list'>
			<div class='col-xs-12 col-md-12'>
				<div class='table-responsive'>
					<table class='table'>
					    <thead>
					      <tr>
					        <th>Published</th>
					        <th>Author</th>
					        <th>Title</th>
						    <th>Edit/View</th>
						  </tr>
					    </thead>
					    <tbody>
					    <% articles.forEach(function(article){ %>
						  <tr>
						    <td><%= article.published.toDateString() %></td>
						    <td><%= article.author %></td>
						    <td><%= article.title %></td>
						    <td>
							  <a href='/admin/edit-article/<%= article._id %>'>Edit</a> / 
							  <a href='/news/<%= article._id %>'>View</a>
						    </td>
						  </tr>
					    <% }); %>
					    </tbody>
					  </table>
				  </div>
			</div>
		</div>
	</div>
<% include ./partials/admin_footer %>