<% include ./partials/admin_header %>
			<div class='container-fluid'>
				<div class='page-header'>
					<h2>Add a New Team</h2>
					<a class='btn btn-primary btn-est' href='/admin/view-teams' role='button'>Return to Teams</a>
				</div>
				<div class='row'>
					<div class='col-xs-12 col-md-12'>
						<form class='new-item-entry' action='/admin/new-team' method='POST'>
							<div class='form-group row'>
								<div class='col-xs-6 col-md-6'>
									<label for='name'>Name: </label>
									<input class='form-control' type='text' name='team[name]' id='name' required>
								</div>
								<div class='col-xs-6 col-md-6'>
									<label for='game'>Game: </label>
									<select class='form-control custom-select' type='select' name='team[game]' id='game' required>
									    <option selected disabled>Select a Game</option>
									    <% games.forEach(function(game){ %>
									        <option value='<%= game.title %>'><%= game.title %></option>
									    <% }); %>
									</select>
								</div>
							</div>
							<div class='form-group row'>
								<div class='col-xs-6 col-md-6'>
									<label for='country'>Country: </label>
									<select class='form-control custom-select' type='select' name='team[country]' id='country' required>
									    <option disabled selected>Select a Country</option>
									    <% countries.forEach(function(country){ %>
									       <option value='<%= country %>'><%= country %></option> 
									    <% }); %>
									</select>
								</div>
								<div class='col-xs-6 col-md-6'>
									<label for='founded'>Date Founded: </label>
									<input class='form-control' type='text' name='team[founded]' id='founded'>
								</div>
							</div>
							<div class='form-group row'>
								<div class='col-xs-6 col-md-6'>
									<label for='logo'>Logo URL: </label>
									<input class='form-control' type='text' name='team[logo]' id='logo' value='https://i.imgur.com/amUEiX5.png'>
								</div>
								<div class='col-xs-6 col-md-6'>
									<label for='division'>Division: </label>
									<input class='form-control' type='text' name='team[division]' id='division'>
								</div>
							</div>
							<div class='form-group row'>
								<div class='col-xs-6 col-md-6'>
									<label for='website'>Website: </label>
									<input class='form-control' type='text' name='team[website]' id='website' />
								</div>
								<div class='col-xs-6 col-md-6'>
									<label for='coach'>Lead Coach: </label>
									<input class='form-control' type='text' name='team[coach]' id='coach' />
								</div>
							</div>
							<div class='form-group row'>
								<div class='col-xs-2 col-md-2'>
									<label for='video'>Video Link: </label>
								</div>
								<div class='col-xs-10 col-md-10'>
									<input class='form-control' type='text' name='team[video]' id='video' />
								</div>
							</div>
							<div class='clear-div'>
								<hr>
							</div>
							<div class='form-group row'>
								<div class='col-xs-3 col-md-3'>
									<label for='numOfMembers'>Number of Members: </label>
								</div>
								<div class='col-xs-9 col-md-9'>
									<% var numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
									<select class='form-control custom-select' type='select' id='numOfMembers'>
										<option selected disabled>Choose a Number</option>
										<% numbers.forEach(function(number){ %>
											<option value='<%= number %>'><%= number %></option>
										<% }); %>
									</select>
								</div>
							</div>
							<div id='memberInputs'>
								
							</div>
							<button class='btn btn-primary btn-est' type='submit'>Add Team</button>
						</form>
					</div>
				</div>
			</div>

<% include ./partials/admin_footer %>