<% include ./partials/header %>
    <div class='container-fluid' id='primary-wrapper'>
      <div class='row'>
        <div class='col-xs-4 col-md-4' id='sidebar-container'>
          <div class='content-divider-sm'>
            <h2>Related Articles</h2>
          </div>
          <div class='preview'>
          <% var foundCategories = foundArticle.categories; %>
          <% var usedArticleIds = []; %>
          <% relatedArticles.forEach(function(relatedArticle) { %>
          <%   if(relatedArticle.contentType == 'standard') { %>
          <%   var relatedCategories = relatedArticle.categories; %>
          <%    relatedCategories.forEach(function(relatedCategory) { %>
          <%        if((foundCategories.indexOf(relatedCategory) > -1) && !(usedArticleIds.indexOf(relatedArticle._id) > -1)) {                                 %>
          <%          usedArticleIds.push(relatedArticle._id); %>
            <div class='article-preview'>
              <a class='sidebar-link' href='/news/<%= relatedArticle._id %>'>
                <div class='article-preview-image'>
                  <img class='article-preview-image' src='<%= relatedArticle.image %>'>
                </div>
                <div class='preview-headline'>
                  <h3 class='article-title'><%= relatedArticle.title.substr(0, 100) %></h3>
                </div>
              </a>
            </div>
            <%        } %>
            <%    }); %>
            <%   } %>
            <% }); %>
          </div>
          <div class='clear-div'>
            <hr>
          </div>
          <div class='content-divider-sm'>
            <h2>Related Videos</h2>
          </div>
          <div class='preview'>
          <% var foundCategories = foundArticle.categories; %>
          <% var usedArticleIds = []; %>
          <% relatedArticles.forEach(function(relatedArticle) { %>
          <%   if(relatedArticle.contentType == 'video') { %>
          <%   var relatedCategories = relatedArticle.categories; %>
          <%    relatedCategories.forEach(function(relatedCategory) { %>
          <%        if((foundCategories.indexOf(relatedCategory) > -1) && !(usedArticleIds.indexOf(relatedArticle._id) > -1)) {                                 %>
          <%          usedArticleIds.push(relatedArticle._id); %>
            <div class='article-preview'>
              <a class='sidebar-link' href='/news/<%= relatedArticle._id %>'>
                <div class='article-preview-image'>
                  <img class='article-preview-image' src='<%= relatedArticle.image %>'>
                </div>
                <div class='preview-headline'>
                  <h3 class='article-title'><%= relatedArticle.title.substr(0, 100) %></h3>
                </div>
              </a>
            </div>
            <%        } %>
            <%    }); %>
            <%   } %>
            <% }); %>
          </div>
          <div class='clear-div'>
            <hr>
          </div>
        </div>
        <div class='col-xs-8 col-md-8' id='post-wrapper'>
      		<article>
      			<header>
      				<h1><%=foundArticle.title%></h1>
      			</header>
      			<div class='meta-container'>
      			  <p class='article-author-label'>Author: </p>
      				<a class='article-author-link' href='#'><%=foundArticle.author%></a>
      				<p class='article-pub-date'>Published: <%= foundArticle.published.toDateString() %></p>
      				<p class='article-categories-list'>Categories: <% foundArticle.categories.forEach(function(category){ %> <%= category + ', ' %> <% }); %></p>
      			</div>
      			<div class='post-content'>
      				<figure>
      					<img class='article-figure' src='<%=foundArticle.image%>'>
                <figcaption>
                  <p class='article-figure-caption'><%= foundArticle.imageCaption %> -</p>
                  <p class='article-figure-source'>Source: <%= foundArticle.imageSource %></p> 
                </figcaption>
      				</figure>
      				<div class='article-body'><%- foundArticle.body %></div>
      				<% if(!foundArticle.sourceLink) { %>
      				<% } else { %>
      				  <p class='article-body'>Source: <a class='source-link' target='_blank' href='<%= foundArticle.sourceLink %>'>Click here</a></p>
      				<% } %>
              <a class='btn btn-outline-primary btn-est-outline' href='/news'>Return to News</a>
      			</div>
      		</article>
        </div>
      </div>
      <div class='row'>
        <div class='col-xs-12 col-md-12' id='suggested-articles'>
          <div class='content-divider-lg'>
            <h2>Suggested Articles</h2>
          </div>
          <div class='preview'>
            <div class='article-preview'>
              <a class='preview-link' href='/news/'>
                <div class='article-preview-image'>
                  <img class='article-preview-image' src=''>
                </div>
                <div class='preview-headline'>
                  <h3 class='article-title'>title...</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
<% include ./partials/footer %>