<% include ./partials/article_header %>
		<div class='container-fluid' id='primary-wrapper'>
			<div class='row'>
				<div class='col-xs-12 col-md-12' id='page-header'>
					<h1>News</h1>
					<form class='content-search' action='/search/articles' method='GET'>
						<p>Search Articles</p>
						<div class="input-group">
							<input type="text" class="form-control" name='search' placeholder="looking for something...">
							<span class="input-group-btn">
								<button class='btn btn-primary btn-est' type='submit'>Search</button>
							</span>
						</div>
					</form>
				</div>
				<hr>
			</div>
			<div class='row'>
				<div class='col-xs-4 col-md-4' id='sidebar-container'>
					<div class='content-divider-sm'>
						<h2>Related</h2>
					</div>
					<div class='preview'>
						<% relatedArticles.forEach(function(relatedArticle) { %>
						<%     if(relatedArticle.contentType == 'standard') { %>
								<div class='article-preview'>
									<a class='sidebar-link' href='/news/<%= relatedArticle._id %>'>
										<div class='article-preview-image'>
											<img class='article-preview-image' src='<%= relatedArticle.image %>' alt='<%= relatedArticle.title %>'>
										</div>
										<div class='preview-headline'>
											<h3 class='article-title'><%= relatedArticle.title.substr(0, 100) %></h3>
										</div>
									</a>
								</div>
						<% } %>
						<% }); %>
					</div>
					<div class='clear-div'>
						<hr>
					</div>
					<div class='content-divider-sm'>
						<h2>Related Videos</h2>
					</div>
					<div class='preview'>
						<% if(relatedVideos.length < 1) { %>
						<p>┐(´•_•`)┌ No Related Videos. What to do... </p>
						<% } else { %>
						<% relatedVideos.forEach(function(relatedVideo) { %>
								<div class='article-preview'>
									<a class='sidebar-link' href='/news/<%= relatedVideo._id %>'>
										<div class='article-preview-image'>
											<img class='article-preview-image' src='<%= relatedVideo.image %>' alt='<%= relatedVideo.title %>'>
										</div>
										<div class='preview-headline'>
											<h3 class='article-title'><%= relatedVideo.title.substr(0, 100) %></h3>
										</div>
									</a>
								</div>
						<% }); %>
						<% } %>
					</div>
					<div class='clear-div'>
						<hr>
					</div>
				</div>
				<div class='col-xs-8 col-md-8' id='post-wrapper'>
					<article>
						<header>
							<h1><%=foundArticle.title%></h1>
						</header>
						<div class='meta-container'>
							<p class='article-author-label'>Author: </p>
							<a class='article-author-link' href='/search/author?search=<%= foundArticle.author %>'><%=foundArticle.author%></a>
							<p class='article-pub-date'>Published: <%= foundArticle.published.toDateString() %></p>
							<p class='article-categories-list'>Categories: <% foundArticle.categories.forEach(function(category){ %> <%= category + ', ' %> <% }); %></p>
						</div>
						<div class='post-content'>
							<figure>
								<img class='article-figure' src='<%=foundArticle.image%>' alt='<%=foundArticle.title %>'>
								<figcaption>
									<p class='article-figure-caption'><%= foundArticle.imageCaption %> -</p>
									<p class='article-figure-source'>Source: <%= foundArticle.imageSource %></p> 
								</figcaption>
							</figure>
							<div class='article-body'><span><%- foundArticle.body %></span></div>
							<% if(!foundArticle.sourceLink) { %>
								
							<% } else { %>
								<p class='article-body'>Source: <a class='source-link' target='_blank' href='<%= foundArticle.sourceLink %>'>Click here</a></p>
							<% } %>
							<a class='btn btn-outline-primary btn-est-outline' href='/news'>Return to News</a>
						</div>
					</article>
				</div>
			</div>
		</div>
<% include ./partials/footer %>