<% include ./partials/header %>
<div class='container-fluid' id='primary-wrapper'>
	<div class='row'>
		<div class='col-xs-12 col-md-12' id='page-header'>
      <h1>Events &amp; Tournaments</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
    	<div class='clear-div'>
	      <hr>
	    </div>
			<!--<img class='billboard-ad' src='/media/ads/billboard.jpg'>-->
			<!--<div class='clear-div'>-->
			<!--	<hr>-->
			<!--</div>-->
    	<div class='content-divider-lg'>
        <h1>Happening Today</h1>
      </div>
	    <% if(currentEvents.length == 0) { %>
	    	<div class='no-content-msg'>
	        <h3>No events happening today! :(</h3>
	        <h3>Know of one we aren't showing? <a href='/info#contact'>Let us know</a>!</h3>
	      </div>
	    <% } else { %>
	      <div class='row view-list'>
				  <div class='col-xs-12 col-md-12'>
					  <div class='table-responsive event-list'>
							<table class='table'>
		          	<thead>
			        		<tr>
			          		<th><button id='list-sort'>Game/Event</button></th>
						          <th><button id='list-sort'>Event Page</button></th>
						          <th><button id='list-sort'>Location</button></th>
						          <th><button id='list-sort'>Date/Time</button></th>
						          <th><button id='list-sort'>EST Stream</button></th>
			        		</tr>
		          	</thead>
		          	<tbody>
		          	<% currentEvents.forEach(function(currentEvent) { %>
			            <tr>
				          	<td><img class='event-game-thumbnail' src='<%= currentEvent.image %>'></td>
				          	<td><a class='direct-event-link' href='/events/<%= currentEvent._id %>'><%= currentEvent.title %></a></td>
				          	<td>
				          	<% if(!currentEvent.state) { %>
				          		<%= currentEvent.venue + ', ' + currentEvent.city + ', ' + currentEvent.country %>
				          	<% } else { %>
				            	<%= currentEvent.venue + ', ' + currentEvent.city + ', ' + currentEvent.state %>
				            <% } %>
				          	</td>
				          	<td><%= currentEvent.date.toDateString() %></td>
				          	<td>
				          	<% if(currentEvent.stream === true) { %>
				            	<%= 'Yes' %>
				            <%   } else { %>
				            	<%= 'No' %>
				            <% }; %>
				          	</td>
			            </tr>
		            <% }); %>
		          	</tbody>
	      			</table>
	      		</div>
	      	</div>
	      </div>
	    <% } %>
	  </div>
	</div>
	<div class='row'>
    <div class='col-xs-12 col-md-12'>
    	<div class='clear-div'>
      	<hr>
      </div>
    	<!--<div id='leaderboard'>-->
    	<!--	<img class='leaderboard-ad' src='/media/ads/leaderboard.jpg'>-->
    	<!--</div>-->
      <!-- <div class='clear-div'>-->
      <!-- 	<hr>-->
      <!-- </div>-->
	  </div>
	</div>
	<div class='row'>
		<div class='col-xs-12 col-md-12'>
	  	<div class='content-divider-lg'>
	    	<h1>Upcoming Events</h1>
	    </div>
	    <div class='row view-list'>
				<div class='col-xs-12 col-md-12'>
					<div class='table-responsive'>
						<table class='table event-list'>
	          	<thead>
			        	<tr>
				          <th>Game/Event</th>
				          <th>Event Page</th>
				          <th>Location</th>
				          <th>Date/Time</th>
				          <th>EST Stream</th>
			        	</tr>
	          	</thead>
	          	<tbody>
	          	<% upcomingEvents.forEach(function(upcomingEvent) { %>
		            <tr>
				          <td><img class='event-game-thumbnail' src='<%= upcomingEvent.image %>'></td>
			          	<td><a href='/events/<%= upcomingEvent._id %>'><%= upcomingEvent.title %></a></td>
			          	<td>
			          	<% if(!upcomingEvent.state) { %>
			          		<%= upcomingEvent.venue + ', ' + upcomingEvent.city + ', ' + upcomingEvent.country %>
			          	<% } else { %>
			            	<%= upcomingEvent.venue + ', ' + upcomingEvent.city + ', ' + upcomingEvent.state %>
			            <% } %>
			          	</td>
			          	<td><%= upcomingEvent.date.toDateString() %></td>
			          	<td>
			          	<% if(upcomingEvent.stream === true) { %>
			            	<%= 'Yes' %>
			            <% } else { %>
			            	<%= 'No' %>
			            <% }; %>
			          	</td>
		            </tr>
	            <% }); %>
	          	</tbody>
	        	</table>
	      	</div>
	    	</div>
	  	</div>
	  	<div class='clear-div'>
	  		<hr>
	  	</div>
		</div>
	</div>
	<div class='row'>
	  <div class='col-xs-12 col-md-12'>
	    <div class='content-divider-lg'>
	  	  <h1>Last Week's Events</h1>
	    </div>
	    <% if(pastEvents.length == 0) { %>
	      <div class='no-content-msg'>
	      	<h3>Last week was a ghost town...</h3>
	      </div>
	    <% } else { %>
		    <div class='row view-list'>
			    <div class='col-xs-12 col-md-12'>
						<div class='table-responsive event-list'>
							<table class='table'>
			          <thead>
			            <tr>
			              <th><button id='list-sort'>Game/Event</button></th>
			              <th><button id='list-sort'>Event Page</button></th>
			              <th><button id='list-sort'>Location</button></th>
			              <th><button id='list-sort'>Date/Time</button></th>
			              <th><button id='list-sort'>EST Stream</button></th>
			            </tr>
			          </thead>
			          <tbody>
			          <% pastEvents.forEach(function(pastEvent) { %>
	                <tr>
			              <td><img class='event-game-thumbnail' src='<%= pastEvent.image %>'></td>
			              <td><a href='/events/<%= pastEvent._id %>'><%= pastEvent.title %></a></td>
			              <td>
			              	<% if(!pastEvent.state) { %>
			              		<%= pastEvent.venue + ', ' + pastEvent.city + ', ' + pastEvent.country %>
			              	<% } else { %>
			                	<%= pastEvent.venue + ', ' + pastEvent.city + ', ' + pastEvent.state %>
			                <% } %>
			              </td>
			              <td><%= pastEvent.date.toDateString() %></td>
			              <td>
			          	  <% if(pastEvent.stream === true) { %>
			                <%= 'Yes' %>
			              <% } else { %>
			                <%= 'No' %>
			              <% }; %>
			              </td>
		            	</tr>
			          <% }); %>
			          </tbody>
		          <% } %>
		        </table>
		      </div>
		    </div>
		  </div>
		  <div class='clear-div'>
		  	<hr>
		  </div>
		</div>
	</div>
</div>
<% include ./partials/footer %>