<% include ./partials/header %>
	  <div class='container-fluid' id='primary-wrapper'>
	    <div class='row'>
	      <div class='col-xs-12 col-md-12'>
	        <h1>Awesome! You've decided to setup your own META. Lets get started!</h1>
	      </div>
	    </div>
	    <div class='row'>
	      <div class='col-xs-3 col-md-3'>
	        <img class='registration-guide' id='step-1' src='/media/branding/register_guide_1.png'>
	        <h2>Enter some basic info about yourself.</h2>
	      </div>
	      <div class='col-xs-6 col-md-6' id='registration-form-container'>
	        <form class='new-user-entry' action='/register' method='POST'>
	      	  <div class='container' id='user-info'>
	      	    <p>* Required Fields</p>
	      	    <label>First Name: 
	      		  <input type='text' name='firstName'>
	      	    </label>
			    <label>Last Name: 
				  <input type='text' name='lastName'>
			    </label>
			    <label>E-Mail: 
				  <input type='email' name='email'>
			    </label>
			    <label>Username: 
				  <input type='text' name='username'>
			    </label>
			    <label>Password: 
				  <input type='password' name='password'>
			    </label>
			    <label id='country'>Country: 
				    <select name='country' required>
						<% countries.forEach(function(country) { %>
						  	<option value='<%= country %>'><%= country %></option>
						<% }); %>
							<option selected>Select a Country</option>
					</select>
				</label>
			  </div>
			  <br>
			  <br>
	      	  <div class='section-divider'></div>
	      	  <div class='game-select'>
	      	  <% games.forEach(function(game) { %>
		        <label>
		      	  <input type='checkbox' name='title' value='<%= game.title %>'>
		      	  <img class='meta-select-thumbnail' id='game-thumbnail' src='<%= game.logopng %>' alt='<%= game.title + ' Logo' %>'>
		        </label>
	      	  <% }); %>
	      	  </div>
	      	  <div class='section-divider'>
      			<h2>All Done? Click it. Finish the job.</h2>
      		  </div>
	      	  <button type='submit' class='finish-registration'><img src='/media/branding/finish_registration.png'></button>
	        </form>
	      </div>
	      <div class='col-xs-3 col-md-3'>
	        <img class='registration-guide' id='step-2' src='/media/branding/register_guide_2.png'>
	        <h2>Just click on the games you want to follow. We'll customize it even more in a minute. </h2>
	      </div>
	    </div>
	  </div>
<% include ./partials/footer %>