<% include ./partials/header %>
      <div class='container-fluid' id='primary-wrapper'>
          <div class='search-header'>
              <form class='content-search' action='/search' method='GET'>
                  <h3>Not what you're looking for? Try again...</h3>
        			<div class="input-group">
    			      <input type="text" class="form-control" name='search' placeholder="looking for something...">
    			      <span class="input-group-btn">
    			        <button class='btn btn-primary btn-est' type='submit'>Search</button>
    			      </span>
    			    </div>
    			    <hr>
        		</form>
        		
              <h3>Search results for '<%= search %>'</h3>
              <hr>
          </div>
          <div class='search-results'>
              <% if(foundArticles.length < 1) { %>
              <p>Sorry, we didn't find anything for '<%= search %>'</p>
              <% } else { %>
                  <% var lastSeen = Date.parse(foundArticles[foundArticles.length - 1].published); %>
                  <% foundArticles.forEach(function(foundArticle){ %>
                    <div class='post-preview'>
                	    <article>
                	        <div class='image-preview'>
                                <figure>
                                    <a href='/news/<%= foundArticle._id %>'>
                                        <img class='article-figure' src='<%= foundArticle.image %>'>
                                    </a>
                                </figure>
                            </div>
                            <div class='search-result-body'>
                                <div id='header-preview'>
                      			    <header>
                      			        <h3 class='article-header'><a href='/news/<%= foundArticle._id %>' ><%= foundArticle.title %></a></h3>
                      			        <!--<a class='article-author-link' href='#'><%= foundArticle.author %></a>-->
                      			        <!--<p class='article-pub-date'>-<%= foundArticle.published.toDateString() %></p>-->
                      			     </header>
                                </div>
                                <div class='post-content' id='content-preview'>
                		            <div class='article-body-preview'><%- foundArticle.body.substr(0, 300) %>...</div>
                                    <a class='btn btn-outline-primary btn-est-outline' href='/news/<%= foundArticle._id %>'>Read More</a>
                			    </div>
                            </div>	
                		</article>
                    </div>
                    <div class='clear-div' id='post-preview-clear'>
                      <hr>
                    </div>
                  <% }); %>
                  <% } %>
          </div>
      </div>
       


<% include ./partials/footer %>
