<% include ./partials/header %>
		<div class='container-fluid' id='primary-wrapper'>
			<div class='search-header'>
				<form class='content-search' action='/search/events' method='GET'>
					<h3>Not what you're looking for? Try again...</h3>
					<div class="input-group">
						<input type="text" class="form-control" name='search' placeholder="looking for something...">
						<span class="input-group-btn">
							<button class='btn btn-primary btn-est' type='submit'>Search</button>
						</span>
					</div>
					<hr>
				</form>
				<h3>Search results for '<%= search %>'</h3>
				<hr>
			</div>
			<div class='event-search-results'>
				<% if(events.length < 1) { %>
				<p>Nothing pulled up.. :( Try another search term</p>
				<% } %>
				<% events.forEach(function(event){ %>
					<div class='event-search-result-container'>
						<a href='/events/<%= event._id %>'>
							<div class='event-search-result-image'>
								<img src='<%= event.image %>' alt='<%= event.title %>'>
							</div>
						</a>
						<div class='event-search-result-meta-info'>
							<h3><%= event.title %></h3>
							<p><%= event.date.toDateString() %></p>
							<p><%= event.games %></p>
							<p><%= event.city %>, <%= event.country %></p>
						</div>
						<div class='event-search-result-btn'>
							<a class='btn btn-outline-primary btn-est-outline' href='/events/<%= event._id %>'>Read More</a>
						</div>
					</div>
					<hr>
				<% }); %>
			</div> 
		</div>
<% include ./partials/footer %>