<% include ./partials/header %>
      <div class='container-fluid' id='primary-wrapper'>
        <div class='row'>
          <div class='col-xs-12 col-md-12' id='page-header'>
            <h1>Stream</h1>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <div>
              <img class="billboard-ad" src="/media/ads/billboard.jpg">
            </div>
            <div class='clear-div'>
              <hr>
            </div>
            <!--<div class='content-divider'>-->
            <!--  <img class='header-image' src='/media/branding/est_tv.png'>-->
            <!--</div>-->
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-8 col-md-8' id='stream-view'>
            <div id='twitch-stream-player'>
              <script type='text/javascript'>insertTwitchFeed();</script>
            </div>
          </div>
          <div class='col-xs-4 col-md-4' id='stream-chat'>
            <iframe frameborder='0'
              scrolling='no'
              id='esportsterminal'
              src='//www.twitch.tv/esportsterminal/chat'
              height='480'
              width='350'>
            </iframe>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-md-12'>
            <div id='leaderboard'>
              <img class="leaderboard-ad" src="/media/ads/leaderboard.jpg">
            </div>
          <div class='clear-div'>
            <hr>
          </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-md-12'>
            <div class='content-divider'>
              <img class='header-image' src='/media/branding/upcoming_streams.png'>
            </div>
            <div class='container'>
              <% if(!upcomingStreams) { %>
              <h1>We don't have any upcoming streams :(. We're working on it!</h1>
              <% } else { %>
              <table class='events-list' id='upcoming-streams'>
                <thead>
                  <tr>
                    <th><button id='list-sort'>Game/Event</button></th>
                    <th><button id='list-sort'>Event Page</button></th>
                    <th><button id='list-sort'>Location</button></th>
                    <th><button id='list-sort'>Date/Time</button></th>
                  </tr>
                </thead>
                <tbody>
                <% upcomingStreams.forEach(function(upcomingStream) { %>
                  <tr>
                    <td>
                      <img class='event-game-thumbnail' src='<%= upcomingStream.image %>'>
                    </td>
                    <td>
                      <a href='/events/<%= upcomingStream._id %>'><%= upcomingStream.title %></a>
                    </td>
                    <td>
                      <%= upcomingStream.venue + ', ' + upcomingStream.city + ', ' + upcomingStream.state %>
                    </td>
                    <td>
                      <%= upcomingStream.date.toDateString() %>
                    </td>
                <% }); %>
                <% } %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
<% include ./partials/footer %>