<% include ./partials/header %>
<div class='owl-container'>
		<div class='owl-header-row' id='team-header-row'>
			<div class='team-logo-name'>
				<img id='team-logo' src='<%= team.logo %>'>
				<h1><%= team.name %></h1>
				<div class='team-info'>
					<p><span>Lead Coach:</span><%= team.coach %></p>
					<p><span>Owner:</span><%= team.owner %></p>
					<p><span>Country:</span><%= team.country %></p>
					<p><span>Division:</span><%= team.division %></p>
					<p><span>Founded:</span><%= team.founded %></p>
					<p><span>Website:</span><a href='<%= team.website %>' target='_blank'><%= team.website %></a></p>
				</div>
			</div>
			<div id='owl-banner-team-view'>
				<a href='/overwatch-league'>
					<img class='banner-team-view' id='owl-est-banner' src='/media/branding/owl_est_logo.png'>
				</a>
				<iframe id='team-video' src="<%= team.video %>" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<hr>
		<div class='container'>
			<h1>News</h1>
		</div>
		<div class='team-container'>
			<div class='team-news'>
				<% if(articles.length == 0) { %>
					<p>No Articles for <%= team.name %></p>
				<% } else { %>
					<% articles.forEach(function(article) { %>
					<% if(article.categories.indexOf(team.name) > -1) { %>
						<div class='owl-article-preview owl-team-article'>
							<a class='owl-preview-link' href='/news/<%= article._id %>'>
								<img class='owl-article-preview-image' src='<%= article.image %>'>
								<div class='owl-preview-headline'>
									<h3 class='owl-article-title'><%= article.title.substr(0, 100) %></h3>
								</div>
							</a>
						</div>
					<% } %>
					<% }); %>
				<% }; %>
			</div>
			<div id='more-team-news'>
				<a class='btn btn-primary btn-owl btn-team' id='more-owl-news' href='/news/game/<%= team.name %>' >More <%= team.name %></a>
			</div>
			<hr>
			<div class='container'>
				<h1>Roster</h1>
			</div>
			<div class='team-roster'>
			<% var members = team.members %>
			<% members.forEach(function(member){ %>
			<%  var fullName = (member.firstName + member.lastName).replace(/\s/g, '') %>
				<div class='team-member' id='<%= fullName %>'>
					<div class='member-image'>
						<img id='profile-pic' src='<%= member.image %>'>
					</div>
					<div class='member-info' id='<%= fullName + "Info" %>'>
						<div id='member-info-top'>
							<div id='member-personal'>
								<h4>Info</h4>
								<p><span>Name: </span><%= member.firstName + ' ' + member.lastName %></p>
								<p><span>Role:</span><%= member.role %></p>
								<p><span>DOB:</span>
									<% if(member.dob == null){ %>
										<%= 'unknown' %> 
									<% } else { %> 
										<%= member.dob.toDateString() %>
									<% } %></p>
								<p><span>Home:</span><%= member.homeCountry %></p>
							</div>
							<div id='member-social'>
								<h4>Social</h4>
								<% if(member.twitter != '') { %>
								<a class="btn btn-social-icon btn-twitter" href='<%= member.twitter %>' target='_blank' >
									<span class="fa fa-twitter"></span>
								</a>
								<% } %>
								<% if(member.twitch != '') { %>
									<a class="btn btn-social-icon btn-twitch" href='<%= member.twitch %>' target='_blank' >
									<span class="fa fa-twitch"></span>
								</a>
								<% } %>
								<% if(member.facebook != '') { %>
									<a class="btn btn-social-icon btn-facebook" href='<%= member.facebook %>' target='_blank' >
									<span class="fa fa-facebook"></span>
								</a>
								<% } %>
								<% if(member.instagram != '') { %>
									<a class="btn btn-social-icon btn-instagram" href='<%= member.instagram %>' target='_blank' >
									<span class="fa fa-instagram"></span>
								</a>
								<% } %>
							</div>
						</div>
						<div id='member-bio'>
							<% if(member.bio == 'unknown') { %>
								
							<% } else { %>
								<h4>Bio</h4>
								<p><%= member.bio %></p>
							<% } %>
						</div>
					</div>
				</div>
			<% }); %>
			</div>
			<hr>
			<div class='owl-event-schedule' id='owl-team-schedule'>
				<div class='row view-list'>
				  <div class='col-xs-12 col-md-12'>
					  <h1><%= team.name %>'s Schedule</h1>
					  <% if(events.length > 0) { %>
					  <div class='table-responsive event-list table-owl-schedule'>
							<table class='table'>
								<thead>
									<tr>
										<th>Event Page</th>
										<th>Location</th>
										<th>Date/Time</th>
									</tr>
								</thead>
								<tbody>
								<% events.forEach(function(event) { %>
									<tr>
										<td><a class='direct-event-link btn btn-primary btn-owl' href='/events/<%= event._id %>'><%= event.title %></a></td>
										<td>
										<% if(!event.state) { %>
											<%= event.venue + ', ' + event.city + ', ' + event.country %>
										<% } else { %>
											<%= event.venue + ', ' + event.city + ', ' + event.state %>
										<% } %>
										</td>
										<td><%= event.date.toDateString() %></td>
									 </tr>
								<% }); %>
								</tbody>
							</table>
					   </div>
					   <% } else { %>
					   <p><%= team.name %> has no upcoming events</p>
					   <% } %>
					</div>
				  </div>
				</div>
			</div>
			<div class='container' id='return-to-owl-main'>
				<a class='direct-event-link btn btn-primary btn-owl' href='/overwatch-league'>Back to OWL Main</a>
			</div>
			</div>
<% include ./partials/footer %>