<% include ./partials/header %>
			<div class='container-fluid'>
				<div class='meta-flex'>
					<div class='section-header' id='meta-header'>
						<h1>Hey, <%= currentUser.username %></h1>
						<p>Check out what we've got for you today</p>
					</div>
					<% if(currentUser.active) { %>
						<% var meta = currentUser.meta %>
						<% meta.forEach(function(metaOption) { %>
							<% if(metaOption.news == true) { %>
								<div class='meta-option-flex' id="<%= metaOption.game.replace(/[\. ,:-]+/g, '') + '-container' %>">
									<div class='meta-option-header'>
										<h1 class='meta-option-title'><%= metaOption.game %></h1>
										<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
									</div>
									<div class='meta-news-container' id="<%= metaOption.game.replace(/[\. ,:-]+/g, '') %>">
									<% articles.forEach(function(foundArticle) { %>
										<% var categories = foundArticle.categories; %>
										<% if(categories.indexOf(metaOption.game) > -1) { %>
											<div class='article-preview' id='<%= foundArticle._id %>'>
												<a class='preview-link' href='/news/<%= foundArticle._id %>'>
													<img class='article-preview-image' id='<%= foundArticle._id + "-image" %>' src='<%= foundArticle.image %>' alt='<%= foundArticle.title %>'>
													<div class='preview-headline' id='<%= foundArticle._id + "-headline" %>'>
														<p class='article-title'><%= foundArticle.title.substr(0, 100) %></p>
													</div>
												</a>
											</div>
										<% } %>
									<% }); %>
									</div>
								</div>
							<% } %>
						<% }); %>
					<% } %>
				</div>
			</div>
<% include ./partials/footer %>